@import './_colors.scss';
@import '../mixins/foodContainer';

.allFoods-container {
  display: grid;
  margin: 0 auto 100px auto;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-auto-rows: minmax(340px, auto);
}

.allFoods-child {
  @include foodContainer( 'small');
}

.allFoods-child-large {
  @include foodContainer('large');
}
