$light-blue: #98cdff;
$pink-red: #ff9999;
$light-orange: #ffbf97;
$dark-green: #8ccfb9;
$purple: #bcb5ff;
$yellow: #ffeaa9;
$dark-blue: #75c1d9;
$light-green: #c1d989;
$light-purple: #c5c2e2;
$light-yellow: #fff5cf;
$teal: #93d9d3;
